<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsTdRtdq85MXUGRCC2rr94GENU6HbgdQs</string>
	<key>GCM_SENDER_ID</key>
	<string>27835784169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymnogene.coolMusicPlayer</string>
	<key>PROJECT_ID</key>
	<string>my-projects-ed284</string>
	<key>STORAGE_BUCKET</key>
	<string>my-projects-ed284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27835784169:ios:08a22e1fbbb882ed2a0978</string>
</dict>
</plist>